gmailbuttons-mail-headerfield-labels {
  -moz-binding: url("chrome://gmailbuttons/content/gmailbuttons.xml#gmailbuttons-mail-headerfield-labels");
  margin-bottom: -7px; 
  margin-top: -2px; 
}

.gmailbuttonsLabel {
  padding: 0px;
  margin: 0px;
}

.gmailbuttonsTagvalue {
  margin-right: 5px;
}

.gmailbuttonsLabelDeleteButton {
  -moz-appearance: none;
  -moz-image-region: rect(0, 64px, 16px, 48px);
  border: none;
  padding: 0px;
  list-style-image: url("chrome://global/skin/icons/close.png");
}

.gmailbuttonsLabelDeleteButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.gmailbuttonsLabelDeleteButton:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}